SYSTEM_ID=
ENVIRONMENT=
TURI=
PASSWORD=
MARKET=
SUBMARKET=
INDUSTRY_CODE=
MEMBER_CODE=
SYSTEM_PW=
VENDOR_ID=
VENDOR_NAME=
SOFTWARE_NAME=
SOFTWARE_VERSION=
PERMISSIBLE_PURPOSE=
END_USER=

#Docusign
DS_PLATFORM=
DS_ACCOUNT_ID=
DS_USERNAME=
DS_PASSWORD=
DS_INTEGRATOR_KEY=

#Transunion will issue a .p12 file to use as a digital certificate.  Split it into separate .crt + .key files:
# openssl pkcs12 -in original.p12 -out new.key -nocerts -nodes
# openssl pkcs12 -in original.p12 -out new.crt -clcerts -nokeys
#More here:
#https://stackoverflow.com/questions/32253909/curl-with-a-pkcs12-certificate-in-a-bash-script
#Local path to separate crt + key files
CERTIFICATE_PATH=
KEY_PATH=

FERNET_KEY=
S3_KEY=
S3_BUCKET=

AUTH_USERNAME=
AUTH_PASSWORD=