{% extends "base.html" %}

{% block title %}
<title>Transunion Demo</title>
{% endblock %}

{% block content %}
<h3>Credit reports on file for {{ contact.get("firstname", "Demo") }} {{ contact.get("lastname", "Contact") }}</h3>
<ul> 
{% for filename in file_data["files"] %}
	<li class="download-link"><a href="{{ url_for('credit_report', email=email, filename=filename) }}">{{filename}}</a></li>
{% endfor %}
</ul>
{% endblock %}

{% block credit_report %}
{% endblock %}

{% block additional_scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript">
// this just gives the iframe its contents
$("li").click(function(){
	$("#filepreview").attr("src", $(this).attr("downloadlink"))
})
</script>
{% endblock %}