{% extends "base.html" %}

{% block content %}
<h3>Files uploaded by {{file_data["user"]}}</h3>
<ul>
{% for filename in file_data["files"] %}
    <li class="download-link" downloadlink="{{"/util/s3/download/" + file_data["user"] + "/" + filename}}">{{filename}}</li>
{% endfor %}
</ul>
<div class="iframe-container">
	<iframe id="filepreview" src=""></iframe> 
</div>
{% endblock %}

{% block additional_scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script type="text/javascript">
// this just gives the iframe its contents
$("li").click(function(){
	$("#filepreview").attr("src", $(this).attr("downloadlink"))
})
</script>
{% endblock %}